body {
	background-color: #cad3d3;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6.31cm;
	margin-bottom: 4.92cm;

}

.column {
	background-color: white;
	width: 12.77cm;
	margin: 0 0.74cm;
	text-align: center;
	position: static;
}

.img {
	font-family: 'Montserrat', sans-serif;
	font-size: 36pt;
	height: 9.6cm;
	background-color: blue;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ocean {
	background-image: url("img/ocean.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.moutain {
	background-image: url("img/moutain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.forest {
	background-image: url("img/forest.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


.div-text > .text {
	font-family: 'Source Sans Pro', sans-serif;
	color: #b6c6c9;
	font-size: 14pt;
}

.price {
	margin-top: -4.8cm;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 32pt;
	background-color: #ffffff;
	width: 4.23cm;
	height: 4.23cm;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	font-family: 'Source Sans Pro', sans-serif;
}

.new {
	margin-left: -5.8cm;
	margin-top: -4.3cm; 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.3cm;
	height: 2.3cm;
	font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
	background-image: url("img/border.png");
	background-size: cover;
	position: absolute;
	z-index: 1;
}

.text{
	font-size: 16pt;
	color: #99a9b5;
	margin: 0;
}


.price-color-blue {
	color: #2196f7;
}

.price-color-black {
	color: #d74498;
	background-color: #2c2e3d;
}

.price-color-green {
	color: #49b33a;
}

.row-text-high {
	height: 3.35cm;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.font-big {
	font-size: 24pt;
	color: #5f727f;
}

.font-small {
	font-size: 14pt;
	color: #99a9b5;
}

.row-text-normal {
	height: 1.76cm;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
	color: #5f727f;
}

.row-text-normal:nth-child(odd) {
	background-color: #f4f6f7;

}

.row-button {
	height: 5.33cm;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: 1.69cm;
	width: 5.93cm;
	font-family: 'Montserrat', sans-serif;
	font-size: 19pt;
	border-width: 0.04cm;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
	background-color: #6c136f;
	cursor: pointer;
	color: #ffffff;
}

.button1 {
	background-color: #ffffff;
	border-color: #2196f7;
	color: #2196f7;
}

.button2 {
 	background-color: #ffffff;
	border-color: #6c136f;
	color: #6c136f;
}

.button3{
	background-color: #ffffff;
	border-color: #32ad1e;
	color: #32ad1e;
}